@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
}

.bio-container {
    padding-top: 5em;
    margin: 0 auto 15% auto;
    width: 75%;
    max-width: 50ch;
}

.title {
    width: 100%;
    text-align: center;
}

.subtitle {
    color: $light-color;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

p {
    text-align: left;
    margin-bottom: 0.75em;

    &:last-of-type {
        margin-bottom: 15vh;
    }
}
